// Smooth Modern Font
@font-face {
  src: url(../assets/fonts/Inter-Black.ttf) format('truetype');
  font-weight: 400;
  font-family: 'InterBlack';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Inter-ExtraBold.ttf) format('truetype');
  font-weight: 400;
  font-family: 'InterExtraBold';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Inter-Bold.ttf) format('truetype');
  font-weight: 400;
  font-family: 'InterBold';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Inter-SemiBold.ttf) format('truetype');
  font-weight: 400;
  font-family: 'InterSemiBold';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-family: 'Inter';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Inter-Medium.ttf) format('truetype');
  font-weight: 400;
  font-family: 'InterMedium';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Inter-Light.ttf) format('truetype');
  font-weight: 400;
  font-family: 'InterLight';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Inter-ExtraLight.ttf) format('truetype');
  font-weight: 400;
  font-family: 'InterExtraLight';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Inter-Thin.ttf) format('truetype');
  font-weight: 400;
  font-family: 'InterThin';
  font-display: swap;
}

// Smooth Tech Font
@font-face {
  src: url(../assets/fonts/MSBee-Black.woff2) format('woff2');
  font-weight: 400;
  font-family: 'MSBlack';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/MSBee-Bold.woff2) format('woff2');
  font-weight: 400;
  font-family: 'MSBold';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/MSBee-Medium.woff2) format('woff2');
  font-weight: 400;
  font-family: 'MSMedium';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/MSBee-Regular.woff2) format('woff2');
  font-weight: 400;
  font-family: 'MSRegular';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/MSBee-Thin.woff2) format('woff2');
  font-weight: 400;
  font-family: 'MSThin';
  font-display: swap;
}

// Pixel Font
@font-face {
  src: url(../assets/fonts/MonoMedium.woff2) format('woff2');
  font-weight: 400;
  font-family: 'MonoMedium';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/MonoRegular.woff2) format('woff2');
  font-weight: 400;
  font-family: 'MonoRegular';
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/MonoLight.woff2) format('woff2');
  font-weight: 400;
  font-family: 'MonoLight';
  font-display: swap;
}
